@tailwind base;

@layer base {
  button {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-4 rounded-full shadow-sm;
  }

  a {
    color: #4007a2;
  }
}

@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
