.resultList {
  @apply space-y-5;
}

.resultItem {
  & .title {
    @apply line-clamp-1;

    font-size: 20px;

    &:hover {
      @apply underline;
    }
  }

  & .link {
    @apply not-italic;

    color: #006d21;
  }

  & .description {
    @apply line-clamp-2;

    color: #71777d;
  }
}
